<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Method</h2>
                    <h3 class="section-subheading text-muted">We follow a tried and tested method to achieve results and meet each project's goals.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!--<h4>1</h4>-->
                                    <h4 class="subheading">1 - We are an AGILE team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Without forgetting about traditional design methodologies, we apply AGILE principles to our development process ensuring that, with every iteration, we are meeting our client’s objectives.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!--<h4>2</h4>-->
                                    <h4 class="subheading">2 - We are a purpose driven Creativity centered team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Having established a strong collaborative environment we are capable of solving complex problems through pre-defined creative strategies. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!--<h4>3</h4>-->
                                    <h4 class="subheading">3 - We are an interdisciplinary team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">By having curiosity driven and talented individuals with different approaches to problem solving, we are able to come up with innovative and precise solutions to our client’s challenges.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!--<h4>4</h4>-->
                                    <h4 class="subheading">4 - We are an open team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We join our clients in every step of the process, ensuring that their input is taken into account and their expectations are being met.</p>
                                </div>
                            </div>
                        </li>
                        <!-- NEW CONTENT
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>ABRIL 2020</h4>
                                    <h4 class="subheading">DAGAA</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Insertar nuevo contenido aqui!</p>
                                </div>
                            </div>
                        </li>-->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Let
                                    <br>us
                                    <br>help you!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>