<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
        <br>
        <span class="copyright">MIND Building, Av. Faro 2350 Office 1D</span>
        <br>
        <span class="copyright">Guadalajara, Jalisco</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          {% for network in site.social %}
          <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li><a href="#policy" data-toggle="modal" style="color:black;">Privacy Policy</a>
          </li>
          <li><a href="#" style="color:black;"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
