<!-- Policy Privacy -->

    <div class="portfolio-modal modal fade" id="policy" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body" align="left">
                            <h2 align="center">AVISO DE PRIVACIDAD</h2>
                            <hr class="star-primary">
                            <!--<img src="img/portfolio/display2.png" class="img-responsive img-centered" alt="image-alt">-->
                            <h4 class="subheading" align="left">¿Quiénes somos?</h4>
                            <p>Dagaa Desarrollo SC, mejor conocido como dagaa, con domicilio en calle Av. Faro 2350 Int. 1D, colonia Verde Valle, ciudad Guadalajara, municipio o delegación Guadalajara, c.p. 44550, en la entidad de Jalisco, país México, y portal de internet www.dagaa.mx, es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente:</p>
                            <h4 class="subheading">¿Para qué fines utilizaremos sus datos personales?</h4>
                            <h5 class="subheading">Prospección comercial</h5>
                            <p>De manera adicional, utilizaremos su información personal para las siguientes
                                finalidades secundarias que <strong>no son necesarias</strong> para el servicio solicitado, pero
                                que nos permiten y facilitan brindarle una mejor atención:
                            <br><strong>• Contacto</strong>
                            <br><strong>• Base de datos</strong>
                            <br><strong>• Análisis de información</strong>

                            <br>En caso de que no desee que sus datos personales se utilicen para estos fines
                            secundarios, indíquelo a continuación.
                            <br><br>No consiento que mis datos personales se utilicen para los siguientes fines:
                            <br><strong>☐ Contacto</strong>
                            <br><strong>☐ Base de datos</strong>
                            <br><strong>☐ Análisis de información</strong>

                            <br><br>La negativa para el uso de sus datos personales para estas finalidades no podrá
                            ser un motivo para que le neguemos los servicios y productos que solicita o
                            contrata con nosotros.</p>
                            <h4 class="subheading">¿Dónde puedo consultar el aviso de privacidad integral?</h4>
                            <p>Para conocer mayor información sobre los términos y condiciones en que serán
                                tratados sus datos personales, como los terceros con quienes compartimos su
                                información personal y la forma en que podrá ejercer sus derechos ARCO, puede
                                consultar el aviso de privacidad integral en el siguiente enlace:</p>                           
                        </div>
                        <ul class="list-inline quicklinks">
                            <li><a href="/ppfull_esp.html" target="_blank" style="color:black;"><strong>Terminos y condiciones</strong></a>
                        </ul>                        
                        <button type="button" class="btn btn-default" data-dismiss="modal" align="center"><i class="fa fa-times" align="center"></i> Close</button>    
                    </div>
                </div>
            </div>
        </div>
    </div>
